@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Civilised</title>
</head>
<body>
    <div class="form-group">
        <form action="Import/Upload" method="post">
            <label for="timetable">Upload Your Tribal Timetable</label>
            <input type="file" id="timetable" name="timetable"/>
            <input class="btn-submit" type="submit" id="google" value="Import to Google Calendar"/>
        </form>
    </div>
</body>
</html>
